<nav class="site-nav">
    <ul class="site-nav__menu">
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
        {{ if .HasChildren }}
            <li class="site-nav__menu-item{{ if $currentPage.HasMenuCurrent "main" . }} active{{ end }}">
                <a href="#">
                    {{ .Pre }}
                    <span>{{ .Name }}</span>
                </a>
                <ul class="site-nav__submenu">
                    {{ range .Children }}
                    <li class="site-nav__menu-subitem{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
                        <a href="{{ .URL }}">{{ .Name }}</a>
                    {{ end }}
                </ul>
        {{else}}
            <li class="site-nav__menu-item {{ if $currentPage.HasMenuCurrent "main" . }} active{{ end }}">
                <a href="{{.URL}}">
                    {{ .Pre }}
                    <span>{{ .Name }}</span>
                </a>
        {{end}}
            </li>

    {{ end }}
    </ul>
</nav>